@font-face {
    font-family: 'circular-std-2';
    src: url('/fonts/circular-std-2.ttf') format('truetype');
    font-weight: lighter;
    font-style: initial;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.btn-primary {
    background-color: #892fff;
    border: none;
}
.btn-info {
    background-color: #1c1c1c;
    border: none;
}

.btn-primary:hover {
    background-color: #6404d4;
}
.btn-info:hover {
    background-color: #1c1c1c;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
    color: white;
    font-family: 'circular-std-2', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

footer {
    background-color: #1c1c1c;
}

.card {
    background-color: #ff000000;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.card:hover {
    background-color: #1c1c1c
}

.navbar {
    background-color: #1c1c1c;
    height: 5rem;
}


a {
    color: white;
}

a:hover {
    color: #6404d4;
}

.albums-ul {
    padding-left: 0;
    list-style-type: none;
}

.album-li {
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    border-radius: 5px;
}

.album-li:hover {
    background-color: #1c1c1c;
    border-radius: 5px;
}

.album-cover-li {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

table tr {
    border: none;
    background-color: transparent;
    color: white;
}

.table tr td {
    border: none;
    color: white;
}

table tr:hover {
    background-color: #1c1c1c; 
    cursor: pointer;
}

.table th {
    border: none;
    background-color: #1c1c1c;
    color: white;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0.2px solid gray
}

.form-control, .form-control:focus {
    background-color: #141414;
    color: white;
}

.fixed-size-img {
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
}

.list-group-item {
    background: none;
    border: 1px solid;
}

.album-cover-playlist {
    width: 3.5rem;
    height: 3.5rem;
}

.title{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.album-col {
    position: relative;
    overflow: hidden;
}

.delete-btn {
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.album-col:hover .delete-btn {
    opacity: 1;
}

.show-icon{
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

tr:hover .show-icon{
    opacity: 1;
}

.show-icon:hover {
    transform: scale(1.1);
}
