@model IEnumerable<MusicStore.Domain.Domain.Album>

@{
    ViewData["Title"] = "Explore Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-end my-4">
    <h2>Explore Albums</h2>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>

<div class="row albums-row">
    @foreach (var album in Model)
    {
        <div class="col-md-2 album-col album-li p-3 mx-2">
            <a asp-action="Details" asp-route-id="@album.Id" class="text-decoration-none d-block">
                <img src="@album.AlbumImage" class="album-cover-li img-fluid" alt="Album Image" />
                <div class="album-name mt-2 text-light"><b>@album.AlbumName</b></div>
            </a>
        </div>
    }
</div>
