@model IEnumerable<MusicStore.Domain.Domain.UserPlaylist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-end my-4">
    <h2>My Playlists</h2>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>

<div class="row my-4">
    <a asp-controller="UserPlaylists" asp-action="ExportAllOrders" class="btn btn-info">Export playlists</a>
</div>

<div class="row albums-row">
    @foreach (var playlist in Model)
    {
        <div class="col-md-2 album-col album-li p-3 mx-2">
            <a asp-action="Details" asp-route-id="@playlist.Id" class="text-decoration-none d-block">
                <img src="@playlist.Image" class="album-cover-li img-fluid" alt="Playlist Image" />
                <div class="album-name mt-2 text-light"><b>@playlist.PlaylistName</b></div>
            </a>
        </div>
    }
</div>
